p{
    font-size: 17px;
}

/* 
    top bar
*/
.top-nav{
    width:100%;
    clear: left;
    display:table;
    height:auto;
}

.logo{
    float:left;
    padding: 10px 15px 10px 15px;
}

.logo::after{
    content: " ";
    display: table;
}
.page-wrapper{
    /*width: 1912px;*/
    width: 100%;
}

.menu{
    float:right;
    padding: 10px 15px 10px 15px;
}

.menu-text{
    float:left;
}

.menu-bar{
    float: right;
}

.mid-wrapper{
    width: 100%;
    display:table;
    border-color: black;
    border-style:solid;
    border-width: 3px;
}

.content-wapper{
    width: 90%;
    float:right;
}
.mid-wrapper::before{
    display:table;
    content: "";
}

/*Main container */
.main-container{
    width:100%;
    background-color: red;
    height: 500px;
}
/*************
Used across all boxes
**************/
.image-box{
    width: 100%;
    height: 120px;
    background-color: cornsilk;
}

.box-contents{
    padding: 20px;
}

.box-title{
    
}

.box-but{
    padding: 10px;
    border-color: #E4E4E4;
    border-width: 2px;
    border-style: solid;
    background-color: white;
    display: inline-block;
}

.but-text{
    font-size: 14px;
    padding: 5px 5px 5px 5px;
}

/****************
  left container
****************/
.leftContainer{
    float:left;
    width:33.33%;
}

.left-wrapper{
    padding-right:20px;
}

.box-padding{
    padding-top: 10px;
    padding-bottom: 5px;
}

.lt-1{
    border-color: green;
    border-style: solid;
    border-width: 3px;
}

.lt-2{
    border-color: red;
    border-style: solid;
    border-width: 3px;
}

.ad-box{
    width: 100%;
    height: 150px;
    background-color: #00336A;
    font-size: 20px;
    color: white;
    display: table;
    text-align: center;
}
.ad-text{
    color: white;    
    padding-top: 25%;
    padding-bottom: 25%;

}
.lt-3{
    border-color: blue;
    border-style: solid;
    border-width: 3px;
}

.lt-4{
    border-color: orange;
    border-style: solid;
    border-width: 3px;
}
/****************
  mid container
****************/
.midContainer{
    float:left;
    width: 33.33%;
}
.middle-wrapper{
    padding-left: 10px;
    padding-right:10px;
}
.mid-1{
    border-color: black;
    border-style: solid;
    border-width: 3px;
}

.mid-2{
    border-color: red;
    border-style: solid;
    border-width: 3px;
}

.mid-3{
    border-color: yellow;
    border-style: solid;
    border-width: 3px;
}

.mid-4{
    border-color: orangered;
    border-style: solid;
    border-width: 3px;
}

/* ******************
    right container
*********************/
.rightContainer{
    float: left;
    width: 33.33%;
}                    
.right-wrapper{
    padding-left: 20px;
}

.rt-1{
    border-color: lime;
    border-style: solid;
    border-width: 3px;
}

.rt-2{
    border-color: magenta;
    border-style: solid;
    border-width: 3px;
}


/******************
   footer
******************/

.footer{
    width: 100%;
    height: 500px;  
    background-color: black;
    color: white;
}

.footer-wrapper{
    padding-left: 150px;
    padding-right: 150px;
    padding-top:    50px;
    padding-bottom: 50px;
}

.social-container{

}

.left-footer{
    width: 20%;
    height: 100%;
    float: left;
}
.right-footer{
    width:80%;
    height: 200px;
    float: right;
    display: inline-block;
}
.rf-wrapper{

}
.info-left{
    width:25%;
    float:left;
}

.info-mid{
    float:left;
    width:25%;
}

.info-mid2{
    float:left;
    width:25%;
}

.info-right{
    width:25%;
    float:left;
}
.footer-title{
    font-size: 25px;

}

.footer-text{
    line-height: 1.5;
    padding:5px;
    font-size: 15px;
    color: #65686D;
}
.footer-buttons{
    width:80%;
    float:right;
}

.footer-but{
    width:25%;
    float:left;
}
.bf-padding{
    padding-left: 15px;
    padding-right: 15px;
}
.bf-wrapper{
    border-color: #393939;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 100%;
}
.bf-text{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right:30px;
}
@media screen and (max-width : 756px) {
    .page-wrapper{
        width:100%;
    }
    .content-wapper{
        width: 100%;   
    }
    .leftContainer, .midContainer, .rightContainer{
        width: 100%;
    }
    .left-wrapper, .middle-wrapper, .right-wrapper{
        padding-left: 10px;
        padding-right: 10px;
    }
    /*footer*/
    .footer-wrapper{
        padding-left:20px;
        padding-right:20px;
    }
    
    .right-footer{
        float: left;
        width:25%;

    }
    .info-left{
        float: left;
        width:25%;
    }
    
    .info-mid{
        float: left;
        width:25%;
    }
    
    .info-mid2{
        float: left;
        width:25%;
    }

    .info-right{
        float: left;
        width:25%;
    }
    .dot-break{

    }

    .footer-buttons{

    }

}
