p{
    font-size: 16px;
}

/* 
    top bar
*/
.top-nav{
    width:100%;
    clear: left;
    display:table;
    height:auto;
}

.logo{
    float:left;
    padding: 10px 15px 10px 15px;
}

.logo::after{
    content: " ";
    display: table;
}

.menu{
    float:right;
    padding: 10px 15px 10px 15px;
}

.menu-text{
    float:left;
}

.menu-bar{
    float: right;
}

.mid-wrapper{
    width: 100%;
    display:table;
}

.content-wapper{
    width: 90%;
    float:right;
}
.mid-wrapper::before{
    display:table;
    content: "";
}

/*Main container */
.main-container{
    width:100%;
    background-color: red;
    height: 500px;
}


/* 
    left container
*/
.leftContainer{
    float:left;
    width:30%;
}

/* 
    mid container
*/
.midContainer{
    float:left;
    width: 30%;
}

/* 
    right container
*/
.rightContainer{
    float: left;
    width: 30%;
}

.footer{
    width: 100%;
}

/*media width for small screens*/
@media only screen 
and (max-width : 543px) {
width:100%;
/* Styles */
}
